img {
  width: 100px;
}

.cart_modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  /* Set height to full viewport height */
  width: 250px;
  /* Set your desired width */
  background-color: white;
  /* Add any other styles you need */
  /* padding-top: 10px;
  display: flex;
  flex-direction: column; */
  /* align-items: center; */
  overflow-x: hidden;
  /* padding: bottom 10px; */
  padding-top: 10px;
}

#checkout-button{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 35px;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  /* padding-bottom: 10px; */
}
.modal_buttons {
  font-size: 14px;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 35px;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none
}

.modal_buttons>a {
  color: white !important;
}

.cart_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /* margin-bottom: 10px; */
}

.individual_cart_item_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  /* padding-left: 25px; */
  padding-top: 10px;
  /* width: 50px; */
  /* height: 50px; */
  gap: 5px;
  text-wrap: wrap;
  /* max-width: 105px; */
  width: 140px;

}

.all_cart_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 5px
}

.individual_cart_item_container>img {
  width: 140px;
  height: 140px;
}

.item_name{
  overflow-wrap:break-word;
  text-wrap: wrap;

}

.qty {
  border: none;
  background-color: lightgrey;
  border-radius: 25px;
  height: 25px;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* font-weight: 400; */
}

.price_qty {
  display: flex;
  justify-content: space-between;
}
