.profile-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  z-index: 1;
  max-width: 100%;
  transition: left 0.3s;
  list-style-type: none;
  left: auto;
  right: 0px;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.seperator {
  border-top: 1px solid gray;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hidden {
  display: none;
}

#navbar {
  width: 95vw;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dc2444;
}

#logo:hover {
  color: #dc2444;
  text-decoration: none;
}

#logo > img {
  width: 150px;
  height: 75px;
}

#logo > span {
  width: 50%;
  font-size: 25px;
}

#hamburger {
  background-color: #00000000;
}

#nav-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

#nav-buttons > button {
  width: 120px;
  height: 50px;
  font-size: 15px;
  background-color: black;
  color: white;
  margin: 0 20px;
}

.loginButton {
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 35px;
  width: 200px;    
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none
}

/* FOOTER STYLING */

/* Updated CSS styles */
.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 500px;
  padding: 75px;
  margin: 75px;
  border-top: 1px solid lightgray;
  width: 100%;
  background-color: #f8f8f8;
}

.footer-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  height: 100%;
  padding-top: 9px;
}

.footer-left-container > span {
  font-size: 25px;
  color: #dc2444;
}

.footer-right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 15px; */
  padding: 0;
}

.individual-links-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  padding: 10px;
  gap: 15px;
  width: auto;
}

.individual-links-container > li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.name-li-footer{
  width: 150px;
}

.footer-links {
  display: flex;
  gap: 10px;
  width: auto;
}

.footer-links i{
  font-size: 24px;
}
