.item-modal-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 30px;
  width: 400px;
}
.item-modal-container > img {
  width: 200px;
  height: 200px;
}

.item-content-container > h1 {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  /* margin-bottom: 10px; */
}
.item-content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricey {
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
}
.quantity {
  margin-bottom: 8px;
}
.description {
  font-weight: bold;
  margin-bottom: 8px;
}

.modal_buttons {
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 35px;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

#restaurant-items-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.category-tile div:hover {
  cursor: pointer;
}

#category-nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 20px;
}
#category-nav-empty {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  align-items: center;
  position: sticky;
  top: 0;
  height: 5vh;
  padding-top: 20px;
}

#category-nav > a {
  font-size: 16px;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 25px;
  align-self: flex-start;
  text-decoration: underline;
  text-underline-offset: 3px;
}

#category-nav > .add-item-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.add-item-button button {
  padding: 15px;
}

#items-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(188px, 350px));
  gap: 40px 24px;
}

.category-title {
  grid-column: 1 / span 4;
  width: 100%;
  font-size: 24px;
  align-self: flex-start;
  border-bottom: 1px solid lightgray;
  margin: 20px 0;
  font-weight: 500;
}

@media screen and (max-width: 1049px) {
  .category-container {
    grid-template-columns: repeat(3, minmax(188px, 300px));
  }
  .category-title {
    grid-column: 1 / span 3;
  }
}

@media screen and (max-width: 800px) {
  .category-container {
    grid-template-columns: repeat(2, minmax(188px, 300px));
  }

  .category-title {
    grid-column: 1 / span 2;
  }
}

.category-tile {
  height: 260px;
}

.category-tile img {
  width: 100%;
  height: 188px;
  object-fit: cover;
}

.item-name {
  font-size: 16px;
  font-weight: 500;
}

.item-price {
  font-size: 14px;
  font-weight: 400;
}

.delete-item-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: 250px;
  font-family: Roboto, Helvetica, sans-serif;
}

.delete-item-modal > h1 {
  margin: 0;
}

#delete-item-span {
  margin: 8px;
  font-size: 12px;
}

.confirm-delete {
  background-color: black;
  color: white;
  padding: 8px 0;
  width: 100%;
}

.do-not-delete-item {
  background-color: gray;
  color: white;
  margin-top: 10px;
  padding: 8px 0;
  width: 100%;
}

.create-an-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-an-item-div {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: whitesmoke;
}

.item-form-labels {
  margin: 7px 0 0 0;
  font-size: 13px;
  font-weight: 700;
}

.item-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* margin-top: 10px; */
  background-color: white;
  height: 20px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(229, 229, 229);
}

#item-description {
  resize: none;
  display: flex;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(229, 229, 229);
}

.item-input:hover {
  border: 1px solid black;
}

#item-img-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* margin-top: 10px; */
  height: 20px;
  width: 200px;
  padding: 5px 0;
}

.item-submit-button {
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 35px;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.item-errors {
  width: 200px;
  color: red;
  font-size: 12px;
  display: flex;
  margin-top: 2px;
}

#is-alcohol {
  display: flex;
  background-color: yellow;
}

#item-img-container {
  display: flex;
  justify-content: center;
}
