#reviews {
  margin-top: 35px;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#reviews-heading {
  font-size: 36px;
  font-weight: 500;
}

#reviews-subheading {
  font-size: 16px;
  font-weight: 400;
}

#reviews-heading,
#reviews-subheading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.review-tile {
  position: relative;
  width: 60%;
  border-bottom: 1px solid lightgray;
  padding: 50px 0;
}

.review-tile > p {
  margin: 10px 0;
}

.review-author {
  font-size: 16px;
  font-weight: 500;
}

.review-date {
  font-size: 14px;
  font-weight: 400;
}

.review-text {
  font-size: 16px;
  font-weight: 400;
  color: gray;
}
